/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/* Header Styles */
header {
    background-color: #034694;
    color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Logo Container */
.logo-container img {
    max-width: 100px;
    height: auto;
}

/* Navigation Bar */
nav {
    display: none;
    flex-direction: column;
    align-items: start;
    background-color: #034694;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Menu Item Styles */
#menu>li {
    margin-bottom: 1em;
}

/* .active {
    border-bottom: 1px solid #C0C0C0;
} */

#menu>li>a {
    color: white;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover State */
#menu>li>a:hover {
    background-color: #0563af;
    color: #fff;
}

/* Active State */
#menu>li>a.active,
#menu>li>a:hover {
    background-color: #034694;
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Hamburger Menu and Social Icons */
.nav-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
}

.social-icon {
    margin: 0 10px;
    /* Space out icons */
    color: #fff;
    /* Set icon color (example) */
}

.social-icon i {
    font-size: 20px;
    /* Adjust icon size */
}


/* Main Content Styles */
main {
    background-color: #F5F5F5;
    flex-grow: 1;
    padding: 2rem;
    margin-top: 60px;
    /* Adjust as per header height */
}

/* Footer Styles */
footer {
    background-color: #383838;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Media Queries */

/* x-small to medium */

@media screen and (max-width: 767px) {

    /* Styles for mobile view */

    nav {
        display: none;
        flex-direction: column;
        align-items: start;
        background-color: #034694;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 2px #3a3a3a;
    }

    .nav-toggle:checked+.hamburger-menu+nav {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }

    .social-icons {
        display: none;
    }


    #menu {
        flex-direction: column;
        /* Stack menu items vertically in mobile view */
    }


    .logo-container img {
        width: 100px;
    }

    main {
        margin-top: 80px;
    }
}

/* medium to large */

@media screen and (min-width: 768px) {

    nav {
        display: flex;
        align-items: left;
        justify-content: center;
        position: relative;
        box-shadow: none;
        padding: 0;
    }

    #menu {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style-type: none;
        align-items: center;
    }

    #menu>li {
        margin-right: 10px;
    }

    #menu>li>a {
        font-size: 14px;
        padding: 8px 10px;
        white-space: nowrap;
    }

    .hamburger-menu,
    .nav-toggle:checked+.hamburger-menu+nav {
        display: none;
    }

    .right-container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .social-icons {
        display: none;
    }

    .logo-container img {
        width: 150px;
    }

    main {
        margin-top: 100px;
    }
}

/* x-large and above */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 36px;
    }

    .nav-item {
        padding: 0 20px;
    }

    .social-icons {
        display: flex;
    }
}