/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

body {
    display: flex;
    flex-direction: column; /* Aligns the content in a column layout */
    min-height: 100vh; /* Ensures the body takes up at least the viewport height */
    font-family: 'Lato', sans-serif; /* Default font for consistency */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

/* Header Styles */
header {
    background-color: #034694; /* Chelsea Blue for brand consistency */       
    color: white; /* Contrast color for readability */
    padding: 0 1rem;
    position: fixed;
    z-index: 99;    
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.logo-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Navbar styles with dropdown toggles */
nav {
    position: absolute;
    background-color: #ffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main Content Styles */
main {
    background-color: #F5F5F5; /* Off-White for a light and clean background */
    flex-grow: 1; /* Allows main content to grow and fill available space */
    padding: 2rem; /* Adds space around main content */
    margin-top: 47px;
}

/* Footer Styles */
footer {
    background-color: #383838; /* Dark Grey for a subtle footer */
    color: white; /* Contrast color for readability */
    padding: 1rem; /* Adds space around footer content */
    text-align: center; /* Centers footer content */
}
